.fc-col-header-cell-cushion {
  font-weight: 500;
  color: var(--rs-text-primary);
}

.fc-daygrid-day-number {
  color: var(--rs-text-primary);
}

.fc-scrollgrid {
  border: none;
}
.fc-scrollgrid td,
.fc-scrollgrid th {
  color: red;
  border: 1px solid var(--rs-border-secondary);
}

.fc-scrollgrid th {
  height: 36px;
  line-height: 36px;
}

.fc-daygrid-event {
  margin-top: 1px;
}
.fc-daygrid-dot-event {
  padding: 4px;
  background-color: var(--rs-btn-default-bg);
  color: var(--rs-text-primary);
}

.fc-event-main {
  padding: 4px;
}
.fc-h-event {
  background-color: var(--rs-btn-primary-bg);
  color: var(--rs-btn-primary-text);
  border-color: var(--rs-btn-primary-bg);
}
.fc-event-title {
  font-weight: 200;
}
